{% extends "base.html" %}

{% block content %}

<h2>Book Ticket</h2>

<form method="POST">

    <label>Seats</label>
    <input
        name="seats"
        class="form-control mb-3"
        placeholder="Example: A1,A2"
        required
    >

    <label>Total Amount</label>
    <input
        name="total_amount"
        type="number"
        class="form-control mb-3"
        placeholder="Example: 500"
        required
    >

    <button class="btn btn-success" type="submit">
        Confirm Booking
    </button>

</form>

{% endblock %}